{% extends "base.html" %} {% block title %}Login - My Flask App{% endblock %} {%
block content %}
<h2>Login</h2>
{% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}
<form action="/login" method="post">
  <label for="username">Username:</label><br />
  <input type="text" id="username" name="username" required /><br />

  <label for="password">Password:</label><br />
  <input type="password" id="password" name="password" required /><br /><br />

  <input type="submit" value="Login" />
</form>
<p>Don't have an account? <a href="/SignUp">Sign up here</a>.</p>
{% endblock %}
