{% extends "base.html" %} {% block title %}Sign Up - My Flask App{% endblock %}
{% block content %}
<h2>Sign Up</h2>
{% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}
<form action="/SignUp" method="post">
  <label for="email">Email:</label><br />
  <input type="email" id="email" name="email" required /><br />

  <label for="name">Name:</label><br />
  <input type="text" id="name" name="name" required /><br />

  <label for="username">Username:</label><br />
  <input type="text" id="username" name="username" required /><br />

  <label for="password">Password:</label><br />
  <input type="password" id="password" name="password" required /><br /><br />

  <input type="submit" value="Sign Up" />
</form>
<p>Already have an account? <a href="/login">Login here</a>.</p>
{% endblock %}
